<h1>Edit a task</h1>

<%= form_for @task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'update' %>
<% end %>

<% if task.done %>
<!-- Umark as done -->
<% else %>
<!-- Mark as done -->
<% end %>
