<h1>Task finder</h1>

<% if @task.done %>
  <input id="checkbox" type="checkbox" onclick="return false;" checked><%= @task.name %>
<% else %>
  <input id="checkbox" type="checkbox" onclick="return false;"><%= @task.name %>
<% end %>
